In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

from datetime import datetime
from sklearn.metrics import mean_squared_error
from math import sqrt

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from pandas.plotting import register_matplotlib_converters

import statsmodels.api as sm
from statsmodels.tsa.api import Holt
import acquire as a
import prepare as p
import env

In [2]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [9]:
df = a.wrangle_store_data()

In [10]:
df.head()

,store_id,item_id,item_upc14,item_upc12,item_brand,item_name,item_price,sale_id,sale_date,sale_amount,store_address,store_zipcode,store_city,store_state
0,1,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,1,2013-01-01,13,12125 Alamo Ranch Pkwy,78253,San Antonio,TX
1,1,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,2,2013-01-02,11,12125 Alamo Ranch Pkwy,78253,San Antonio,TX
2,1,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,3,2013-01-03,14,12125 Alamo Ranch Pkwy,78253,San Antonio,TX
3,1,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,4,2013-01-04,13,12125 Alamo Ranch Pkwy,78253,San Antonio,TX
4,1,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,5,2013-01-05,10,12125 Alamo Ranch Pkwy,78253,San Antonio,TX

In [11]:
#1. split
train, validate, test= p.train_validate_test_split(df)
train.head()

,store_id,item_id,item_upc14,item_upc12,item_brand,item_name,item_price,sale_id,sale_date,sale_amount,store_address,store_zipcode,store_city,store_state
226208,3,24,688267084225,688267084225,Smart Living,Smart Living Charcoal Lighter Fluid,5.34,425243,2017-05-30,95,2118 Fredericksburg Rdj,78201,San Antonio,TX
156287,2,36,610358991525,610358991525,Deerfields Gluten Free,Rice Bran Gluten Free Dinner Rolls Plain,7.95,642004,2015-12-14,63,9255 FM 471 West,78251,San Antonio,TX
370321,5,3,23923330139,23923330139,Earths Best,Earths Best Organic Fruit Yogurt Smoothie Mixed Berry,2.43,45294,2017-01-09,9,1520 Austin Hwy,78218,San Antonio,TX
621216,7,41,31000670016,31000670016,P.f. Changs,P.f. Changs Home Menu Meal For Two Beef With Broccoli,5.62,741733,2014-01-12,11,12018 Perrin Beitel Rd,78217,San Antonio,TX
870157,10,27,24600017008,24600017008,Morton,Morton Kosher Salt Coarse,6.01,492176,2015-09-09,19,8503 NW Military Hwy,78231,San Antonio,TX

In [12]:
#2.
items = round(train['item_price'].mean(), 2)
dollars = round(train['sale_amount'].mean(), 2)


yhat_df = pd.DataFrame({'item_price': [items],
                            'sale_amount': [dollars],
                           }, index = validate.index)

yhat_df.head(3)

        item_price  sale_amount
189135        5.16        52.24
899080        5.16        52.24
410303        5.16        52.24

In [18]:
avg_sales = round(train['sales_total'].mean(), 2)
avg_sales

KeyError: 'sales_total'